<template>
  <section
    class="hero-wrap hero-wrap-2"
    :style="getBackground"
    data-stellar-background-ratio="0.5"
  >
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-end justify-content-start"
      >
        <div class="col-md-9 pb-5">
          <p class="breadcrumbs">
            <span
              class="mr-2"
              v-for="(index, url) in this.$route.meta.breadCrumbs"
              :key="index"
            >
              <!--- index - Название -->
              <a v-if="url != 'dynamic'" @click="route(url)"
                >{{ index }}
                <i class="fa fa-chevron-right"></i>
              </a>
              <span v-if="url == 'dynamic'">{{ project.name }} </span>
            </span>
          </p>
          <div>

            <h1 v-if="project && !title"  class="mb-3 bread">{{ project.name }}</h1>
            <h1 v-else class="mb-3 bread">{{ title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "hero",
  props: {
    img: String,
    project: Object,
    title: String,
  },
  computed: {
    getBackground: function () {
      if (this.img) {
        return "background-image: url(" + this.img + ")";
      } else {
        return "background-image: url(/images/about-2.jpg)";
      }
    },
    getId: function () {
      return this.$route.path.split("/")[2];
    },
  },
  methods: {
    route(path) {
      console.log(path);
      this.$router.push("/" + path);
    },
  },
};
</script>
<style >
.mr-2 a {
  cursor: pointer;
}
</style>