<template>
  <div class="isNav">
    <div class="py-1 top">
      <div class="container">
        <div class="row">
          <div
            class="col-sm text-center text-md-left mb-md-0 mb-2 pr-md-4 d-flex topper align-items-center"
          >
            <p class="mb-0 w-100">
              <span class="fa fa-paper-plane"></span>
              <span class="text">youremail@email.com</span>
            </p>
          </div>
          <div class="col-sm justify-content-center d-flex mb-md-0 mb-2">
            <div class="social-media">
              <p class="mb-0 d-flex">
                <a
                  
                  class="d-flex align-items-center justify-content-center"
                  ><span class="fa fa-facebook"
                    ><i class="sr-only">Facebook</i></span
                  ></a
                >
                <a
                  
                  class="d-flex align-items-center justify-content-center"
                  ><span class="fa fa-twitter"
                    ><i class="sr-only">Twitter</i></span
                  ></a
                >
                <a
                 
                  class="d-flex align-items-center justify-content-center"
                  ><span class="fa fa-instagram"
                    ><i class="sr-only">Instagram</i></span
                  ></a
                >
                <a
                  
                  class="d-flex align-items-center justify-content-center"
                  ><span class="fa fa-dribbble"
                    ><i class="sr-only">Dribbble</i></span
                  ></a
                >
              </p>
            </div>
          </div>
          <div
            class="col-sm-12 col-md-6 col-lg-7 d-flex topper align-items-center text-lg-right justify-content-end"
          ></div>
        </div>
      </div>
    </div>
    <div class="pt-4 pb-5">
      <div class="container">
        <div
          class="row d-flex align-items-start align-items-center px-3 px-md-0"
        >
          <div class="col-md-4 d-flex mb-2 mb-md-0">
            <router-link
              :to="{name:'index'}"
              custom
              v-slot="{ href, route, navigate, isActive, isExactActive }"
              exact
            >
               <a class="navbar-brand d-flex align-items-center" :href="href" @click="navigate">
              <span class="flaticon"></span>
              <span class="ml-2"
                >БЭН <small>ремонт и отделка квартир </small></span
              >
            </a>
            </router-link>
           
          </div>
          <div class="col-md-4 d-flex topper mb-md-0 align-items-center"></div>
          <div class="col-md-4 d-flex topper mb-md-0 mb-2 align-items-center">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="fa fa-map"></span>
            </div>
            <div class="pr-md-4 pl-md-3 pl-3 text">
              <p class="con">
                <span>Бесплатный звонок</span> <span>+1 234 456 78910</span>
              </p>
              <p class="con">Ответим на ваши вопросы</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container d-flex align-items-center">
        <button
          class="navbar-toggler"
          type="button"
          @click="openNav()"
        >
          <span class="fa fa-bars"></span> меню
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mr-auto">
            <router-link
              :to="{name:'index'}"
              custom
              v-slot="{ href, route, navigate, isActive, isExactActive }"
              exact
            >
              <li
                :class="[
                  'nav-item',
                  isActive && 'active',
                  isExactActive && 'router-link-exact-active',
                ]"
              >
                <a class="nav-link" :href="href" @click="navigate">Главная</a>
              </li>
            </router-link>

             <router-link
              :to="{name:'about'}"
              custom
              v-slot="{ href, route, navigate, isActive, isExactActive }"
            >
              <li
                :class="[
                  'nav-item',
                  isActive && 'active',
                  isExactActive && 'router-link-exact-active',
                ]"
              >
                <a class="nav-link" :href="href" @click="navigate">О нас</a>
              </li>
            </router-link>
            <router-link
              :to="{name:'blog'}"
              custom
              v-slot="{ href, route, navigate, isActive, isExactActive }"
            >
              <li
                :class="[
                  'nav-item',
                  isActive && 'active',
                  isExactActive && 'router-link-exact-active',
                ]"
              >
                <a class="nav-link" :href="href" @click="navigate">Блог</a>
              </li>
            </router-link>

            <router-link
              to="/portfolio"
              custom
              v-slot="{ href, route, navigate, isActive, isExactActive }"
            >
              <li
                :class="[
                  'nav-item',
                  isActive && 'active',
                  isExactActive && 'router-link-exact-active',
                ]"
              >
                <a class="nav-link" :href="href" @click="navigate">Портфолио</a>
              </li>
            </router-link>

            <router-link
              :to="{ name: 'docs' }"
              custom
              v-slot="{ href, route, navigate, isActive, isExactActive }"
              exact
            >
              <li
                :class="[
                  'nav-item',
                  isActive && 'active',
                  isExactActive && 'router-link-exact-active',
                ]"
              >
                <a class="nav-link" :href="href" @click="navigate">Документы</a>
              </li>
            </router-link>
           <router-link
              :to="{ name: 'contacts' }"
              custom
              v-slot="{ href, route, navigate, isActive, isExactActive }"
              exact
            >
              <li
                :class="[
                  'nav-item',
                  isActive && 'active',
                  isExactActive && 'router-link-exact-active',
                ]"
              >
                <a class="nav-link" :href="href" @click="navigate">Контакты</a>
              </li>
            </router-link>
          </ul>
          <a href="#" @click="showPopUp" class="btn-custom">Оставить заявку</a>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "isNav",
  data(){
    return {
      navIsOpen: false
    }
  },
  methods: {
    showPopUp() {
      this.$emit("show-popup");
    },
    openNav(){
      if (!this.navIsOpen) {
        
        document.querySelector("#ftco-nav").classList.add('show')
      }
      else{
        document.querySelector("#ftco-nav").classList.remove('show')
      }
      this.navIsOpen = !this.navIsOpen
    }
  },
};
</script>
<style scoped>
.flaticon img{
  height: 50px;
  width: 52px;
}
</style>