<template>
  <div>
    <hero
      v-if="project.projImgs"
      :img="getMainImg"
      :project="project"
      :title="project.name"
    />

    <div class="container">
      <div class="row">
        <gallery class="col-lg-8" v-if="project.projImgs" :arImgs="project.projImgs" />
        <div v-else></div>
        <sidebar v-if="otherProjects && project" :otherProjects="otherProjectsExcludeThis" :arDocuments="project.docs"/>
      </div>
      <div class="row">
        <div class="col-lg-8 fadeInUp ftco-animated">
          <p v-html="project.description"></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import hero from "../hero.vue";
import gallery from "./gallery.vue";
import sidebar from "./sidebar.vue";
import axios from "axios";

export default {
  name: "detail",
  data() {
    return {
      project: {},
      otherProjects: [],
    };
  },
  components: {
    hero,
    gallery,
    sidebar,
  },
  created: function () {
    axios
      .get("/projects/findbyids?id=" + this.id)
      .then((response) => (this.project = response.data));

    axios
      .get("/projects/latestprojects?len=3")
      .then((response) => (this.otherProjects = response.data));
  },

  props: {
    name: String,
    id: String,
  },
  computed: {
    getMainImg: function () {
      for (let i = 0; i < this.project.projImgs.length; i++) {
        const element = this.project.projImgs[i];
        if (element.path.indexOf("main") != -1) {
          return element.path;
        }
      }
    },
    otherProjectsExcludeThis: function () {
      let project = this.project
      let otherProjectsExcludeThis = []
      for (let i = 0; i < this.otherProjects.length; i++) {
        const element = this.otherProjects[i];
        if (element.id != project.id) {
         otherProjectsExcludeThis.push(element);
        }
        
      }
      return otherProjectsExcludeThis;
    },
  },
};
</script>

<style scoped>
.container {
  margin-top: 70px;
  margin-bottom: 45px;
}
.img-container {
  margin-bottom: 20px;
}
</style>