<template>
  <div class="img-container">
    <LightGallery
      :images="getArImgs"
      :index="index"
      :disable-scroll="true"
      @close="index = null"
    />
    <slider
      :arrows="true"
      :autoplay="true"
      :draggable="false"
      :key="2"
      class="main-slider"
    >
      <img
        v-for="(thumb, thumbIndex) in getArImgs"
        :key="thumbIndex"
        @click="index = thumbIndex"
        class="thumbs"
        :src="thumb.url"
      />
      <template #prevArrow>
        <i class="fa fa-angle-left"></i>
      </template>
      <template #nextArrow>
        <i class="fa fa-angle-right"></i>
      </template>
    </slider>

    <div class="thumbs-container">
      <!--   <slider
        :arrows="false"
        :autoplay="true"
        :draggable="true"
        :key="1"
        :infinite="true"
        :slidesToShow="3"
      > -->
      <div
        class="row"
        v-for="(ArThumb, ArThumbIndex) in getChuncedImgsArray(getArImgs, 4)"
        :key="ArThumbIndex"
      >
        <img
          class="thumbs col-md-3"
          v-for="(thumb, thumbIndex) in ArThumb"
          :key="thumbIndex"
          @click="index = thumbIndex"
          :src="thumb.url"
        />
      </div>

      <!-- </slider> -->
    </div>
  </div>
</template>
<script>
import { LightGallery } from "vue-light-gallery";
import slider from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
// import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

export default {
  name: "gallery",
  data() {
    return {
      index: null,
    };
  },
  components: {
    LightGallery,
    slider,
  },
  props: {
    arImgs: Array,
  },

  computed: {
    getArImgs: function () {
      // console.log(this.arImgs)
      if (this.arImgs) {
        let res = this.arImgs.map(function (value) {
          return { title: value.alt, url: value.path };
        });
        return res;
      }
    },

    prevArrowButton: function () {
      return '<i class="fa fa-angle-left"></i>';
    },
  },
  methods: {
    getChuncedImgsArray(arr, chunk) {
      var i,
        j,
        tmp = [];
      for (i = 0, j = arr.length; i < j; i += chunk) {
        tmp.push(arr.slice(i, i + chunk));
      }
      console.log(tmp);
      return tmp;
    },
  },
};
</script>
<style >
.thumbs {
  height: 150px;
  width: 100%;
  cursor: pointer;
}
.slick-arrow {
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  color: #fc5e28;
  font-size: 27px;
}
.slick-prev ::before {
  color: #fc5e28;
  font-size: 27px;
  /* margin: -12px; */
}
.slick-next {
  right: -25px;
}
.slick-prev {
  left: -15px;
}
.thumbs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.thumbs-container .row {
  margin-top: 5px;
  margin-bottom: 13px;
}
.main-slider {
  padding-bottom: 20px;
}
.main-slider img {
  height: 530px;
}
</style>