<template>
  <div class="col-md-4">
    <div class="project">
      <router-link
        :to='{"name": "projectDetail","params":{"id":dataElem.id}}'
        custom
        v-slot="{ href, route, navigate, }"
        append
      >
        <a
          :href="href"
          class="img image-popup d-flex align-items-center"
          :style="getMainImg"
         @click="navigate"
          ><div
            class="icon d-flex align-items-center justify-content-center mb-5"
          >
            <span class="fa  fa-search"></span></div
        ></a>
      </router-link>

      <div class="text">
       
        <h3>{{ dataElem.name }}</h3>
        <p>
          
        </p>
      
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "project-element",

  props: {
    dataElem: Object,
  },
  computed: {
    getMainImg: function () {
      if (this.dataElem.projImgs.length != 0) {
        for (let i = 0; i < this.dataElem.projImgs.length; i++) {
          const img = this.dataElem.projImgs[i];
          if (img.path.indexOf("main") != -1) {
            return "background-image: url(" + img.path + ");";
          }
        }
      }
      return "background-image: url(projectsImg/project-1.jpg);";
    },
  },
};
</script>
<style scoped>
.image-popup{
  cursor: pointer !important;
}

</style>