<template>
  <div>
    <hero :img="'/images/project-4.jpg'" :title="'Портфолио'" />
    <projetcsList />
  </div>
</template>

<script>
import projetcsList from "./projectsList.vue";
import hero from "./hero.vue";

export default {
  name: "projects",
  components: {
    projetcsList,
    hero,
  },
  mounted:function(){
    let proj = new appear({
      elements: function elements() {
        // work with all elements with the class "track"
        return document.getElementsByClassName("ftco-animate");
      },
      appear: function appear(el) {
        el.animate(
          [
            {
              opacity: 0,
              transform: "translate3d(0, 40px, 0)",
            },
            {
              opacity: 1,
              transform: "none",
            },
          ],
          700
        );
        el.style.opacity = 1;
      },
    });
  }
};
</script>