<template>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">Наши работы</span>
          <h2 class="mb-4">Последние проекты</h2>
        </div>
      </div>
      <div class="row">
        <project-element
          :dataElem="project"
          v-for="project in pageOfItems"
          :key="project.id"
        />
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <jw-pagination
              :items="projects"
              @changePage="onChangePage"
              :disableDefaultStyles="true"
              :labels="customLabels"
              :pageSize="9"
            />

          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import projectElement from "./projectElement.vue";
import axios from "axios";
import JwPagination from "jw-vue-pagination";

const customLabels = {
  previous: "<",
  next: ">",
};

export default {
  name: "projectsList",
  data() {
    return {
      projects: [],
      customLabels,
      pageOfItems: [],
    };
  },
  components: {
    projectElement,
    JwPagination,
  },
  created: function () {
    axios.get("/projects/").then((response) => (this.projects = response.data));
    //   console.log(
  },
  methods: {
    onChangePage(pageOfItems) {
      // update page of items
      this.pageOfItems = pageOfItems;
    },
  },
};
</script>
<style >
.pagination {
  justify-content: center;
}
.pagination li a {
  padding: 0;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}
.pagination li.first,
.pagination li.last {
  display: none;
}
.page-item.active .page-link {
  background-color: #000000;
  border-color: #000000;
}
</style>