<template>
  <div class="col-lg-4 sidebar fadeInUp ftco-animated">
    <div class="sidebar-box fadeInUp ftco-animated" v-if="otherProjects">
      <h3 class="heading-sidebar">Другие работы</h3>
      <div
        class="block-21 mb-4 d-flex"
        v-for="project in otherProjects"
        :key="project.id"
      >
        <a class="blog-img mr-4" :style="getMainImg(project)"></a>
        <div class="text">
          <h3 class="heading">
            <router-link to="getUrl" exact-path> </router-link>
            <a class="link" @click="route(project.id)">{{ project.name }}</a>
          </h3>
          <div class="meta">
            <div>
              <a
                ><span class="icon-calendar"></span>
                {{ getDate(project.date) }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="arDocuments" class="sidebar-box fadeInUp ftco-animated">
      <h3 class="heading-sidebar">Документы</h3>
      <div class="tagcloud">
        <a
          href="#"
          class="tag-cloud-link"
          v-for="(doc, docIndex) in arDocuments"
          :key="docIndex"
          @click="downloadFile(doc)"
          >{{doc.name}}</a
        >
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios"
export default {
  name: "sidbar",
  props: {
    otherProjects: Array,
    arDocuments: Array,
  },
  methods: {
    getMainImg(proj) {
      for (let i = 0; i < proj.projImgs.length; i++) {
        const element = proj.projImgs[i];
        if (element.path.indexOf("main") != -1) {
          return "background-image: url(" + element.path + ")";
        }
      }
      return "background-image: url(/images/project-1.jpg)";
    },
    getDate(date) {
      let arDate = date.split(" ")[0].split("-");
      return arDate[2] + "." + arDate[1] + "." + arDate[0];
    },
    route(id) {
      this.$router.push({ name: "projectDetail", params: { id } });
    },
    downloadFile(doc) {
      const form = new FormData();
      form.append("filename", doc.name + "." + doc.ext);

      let name = doc.name + "." + doc.ext;
      axios({
        method: "get",
        url: "/docs/" + name,
        params: {
          filename: doc.name + "." + doc.ext,
        },
        responseType: "blob",
        // headers: {
        //   "Content-type": "application/x-www-form-urlencoded",
        // },
      }).then(function (response) {
        let link = document.createElement("a");
        link.download = name;
        link.href = URL.createObjectURL(response.data);
        link.click();
        URL.revokeObjectURL(link.href);
      });
    },
  },
};
</script>
<style scoped>
.link {
  cursor: pointer;
}
</style>