<template>
  <div>
    <hero :title="'Контакты'"></hero>
    <section
      class="ftco-section contact-section ftco-no-pb"
      id="contact-section"
    >
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Связь с нами</span>
            <h2 class="mb-4">Свяжитесь с нами, чтобы узнать подробности</h2>
           
          </div>
        </div>

        <div class="row block-9">
          <div class="col-md-8">
            <mail-form/>
          </div>

          <div class="col-md-4 d-flex pl-md-5">
            <div class="row box-cont">
              
              <div class="dbox w-100 d-flex ftco-animate">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="fa fa-phone"></span>
                </div>
                <div class="text">
                  <p>
                    <span>Телефон:</span>
                    <a href="tel://1234567920">+ 1235 2355 98</a>
                  </p>
                </div>
              </div>
              <div class="dbox w-100 d-flex ftco-animate">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="fa fa-paper-plane"></span>
                </div>
                <div class="text">
                  <p>
                    <span>Email:</span>
                    <a href="mailto:info@yoursite.com">info@yoursite.com</a>
                  </p>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import hero from "../hero.vue";
import MailForm from './mailForm.vue';

export default {
  name: "contacts",
  components: {
    hero,MailForm
  },
  mounted: function () {
    new appear({
      elements: function elements() {
        // work with all elements with the class "track"
        return document.getElementsByClassName("ftco-animate");
      },
      appear: function appear(el) {
        el.animate(
          [
            {
              opacity: 0,
              transform: "translate3d(0, 40px, 0)",
            },
            {
              opacity: 1,
              transform: "none",
            },
          ],
          700
        );
        el.style.opacity = 1;
      },
    });
  },
};
</script>
<style scoped>
.box-cont{
    height: 240px;
}
</style>