<template>
  <div>
    <form
      v-if="!sended"
      class="p-4 p-md-5 contact-form"
      v-on:submit.prevent="sendMail()"
    >
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Имя"
              v-model="Form.name"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="Ваш Email"
              v-model="Form.from"
            />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Тема"
              v-model="Form.subject"
            />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <textarea
              v-model="Form.text"
              name=""
              id=""
              cols="30"
              rows="7"
              class="form-control"
              placeholder="Сообщение"
            ></textarea>
          </div>
        </div>
        <div class="col-md-12 d-flex preview-container">
          <div
            class="file-preview"
            v-for="(file, fileIndex) in attached"
            :key="fileIndex"
          >
            <i
              class="fa fa-file"
              :data-title="file.name"
              @click="deleteFile(file)"
            ></i>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input
              type="submit"
              value="Отправить"
              class="btn btn-primary py-3 px-5"
            />
            <input
              type="file"
              id="hiddenFile"
              hidden="true"
              v-on:change="fileHandle()"
              v-if="attached.length < 3"
            />
            <label v-if="false" for="hiddenFile"
              ><i class="fa fa-paperclip"></i
            ></label>
          </div>
          <div v-if="errors.length" class="error">
            <p v-for="(error, index) in errors" :key="index">{{ error }}</p>
          </div>
        </div>
      </div>
    </form>
    <div v-else class="thanks">
      <h2>Cпасибо, мы свяжемся с вами!</h2>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "mailForm",
  data() {
    return {
      Form: {},
      errors: [],
      sended: 0,
      attached: [],
    };
  },
  methods: {
    readFormData(data) {
      for (let key of data.keys()) {
        console.log(`${key}: ${data.get(key)}`);
      }
    },
    fileHandle() {
      let file = document.querySelector("#hiddenFile").files[0];
      console.log(this.attached);
      if (file.size < 15728640) {
        this.attached.push(file);
      } else {
        this.errors.push("Файл слишком большой");
      }
    },
    deleteFile(file) {
      this.attached.pop(file);
    },
    sendMail() {
      this.errors = [];
      if (this.Form.text) {
        if (this.Form.text.length < 10) {
          this.errors.push("Сообщение минимум 10 символов");
        }
      } else {
        this.errors.push("Сообщение пустое");
      }
      if (this.Form.from) {
        const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!re.test(this.Form.from)) {
          this.errors.push("Email некорректный");
        }
      } else {
        this.errors.push("Email пустой");
      }
      if (this.Form.name && this.Form.subject && this.errors.length == 0) {
        this.errors = [];
        
        let formData = new FormData();
        formData.set("name", this.Form.name);
        formData.set("from", this.Form.from);
        formData.set("subject", this.Form.subject);
        formData.set("subject", this.Form.text);
        formData.append("files", this.attached);
        this.readFormData(formData)

        
        axios({
          method: "post",
          url: "/mail/",
          headers: { "Content-type": "multipart/form-data" },
          data: formData,
        });
        this.sended = 1;
      } else {
        this.errors.push("Заполните все поля");
      }
    },
  },
};
</script>
<style scoped>
.error {
  color: red;
}
.thanks {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233 232 232 / 10%);
  -webkit-box-shadow: 3px 12px 35px -14px rgb(34 60 80 / 78%);
  -moz-box-shadow: 3px 12px 35px -14px rgba(34, 60, 80, 0.78);
  box-shadow: 3px 12px 35px -14px rgb(34 60 80 / 78%);
  height: 165px;
}
.thanks h2 {
  color: #14e114;
}
label[for="hiddenFile"] {
  margin: 0;
}
.fa-paperclip {
  padding-left: 15px;
  color: #7a7a7a;
  font-size: 39px;
  cursor: pointer;
}
.form-group {
  display: flex;
  align-items: center;
}
.file-preview {
  padding: 0px 15px 0px 15px;
  font-size: 3em;
  cursor: pointer;
}
.file-preview:first-child {
  padding-left: 0;
}
.file-preview:hover {
  color: red;
}
.fa-file:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 0%;
  top: 83%;
  z-index: 1;
  background: rgba(255, 255, 230, 0.9);
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 5px 10px;
  border: 1px solid #333;
}
</style>