@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
.table {
    display: table;
    width: 100%;
    /* height: 100%; */
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container-animForm {
    position: relative;
    width: 600px;
    margin: 30px auto 0;
    height: 320px;
    background-color: #999ede;
    top: 50%;
    margin-top: -160px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container-animForm .box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container-animForm .box:before,
.container-animForm .box:after {
    content: " ";
    position: absolute;
    left: 152px;
    top: 50px;
    background-color: #9297e0;
    transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
    width: 300px;
    height: 285px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container-animForm .box:after {
    background-color: #a5aae4;
    top: -10px;
    left: 80px;
    width: 320px;
    height: 180px;
}

.container-animForm .container-animForm-forms {
    position: relative;
}

.container-animForm .btn {
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width: 60px;
    color: #fff;
    background-color: #ff73b3;
    opacity: 1;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container-animForm .btn:hover {
    opacity: 0.7;
}

.container-animForm .btn,
.container-animForm input {
    padding: 10px 15px;
}

.container-animForm input {
    margin: 0 auto 15px;
    display: block;
    width: 220px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.container-animForm .container-animForm-forms .container-animForm-info {
    text-align: left;
    font-size: 0;
}

.container-animForm .container-animForm-forms .container-animForm-info .info-item {
    text-align: center;
    font-size: 16px;
    width: 300px;
    height: 320px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    opacity: 1;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.container-animForm .container-animForm-forms .container-animForm-info .info-item p {
    font-size: 20px;
    margin: 20px;
}

.container-animForm .container-animForm-forms .container-animForm-info .info-item .btn {
    background-color: transparent;
    border: 1px solid #fff;
}

.container-animForm .container-animForm-forms .container-animForm-info .info-item .table-cell {
    padding-right: 35px;
}

.container-animForm .container-animForm-forms .container-animForm-info .info-item:nth-child(2) .table-cell {
    padding-left: 35px;
    padding-right: 0;
}

.container-animForm .container-animForm-form {
    overflow: hidden;
    position: absolute;
    left: 30px;
    top: -30px;
    width: 305px;
    height: 380px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container-animForm .container-animForm-form:before {
    content: "✔";
    position: absolute;
    left: 160px;
    top: -50px;
    color: #5356ad;
    font-size: 130px;
    opacity: 0;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container-animForm .container-animForm-form .btn {
    position: relative;
    box-shadow: 0 0 10px 1px #ff73b3;
    margin-top: 30px;
}

.container-animForm .form-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.container-animForm .form-item.sign-up {
    position: absolute;
    left: -100%;
    opacity: 0;
}

.container-animForm.log-in .box:before {
    position: absolute;
    left: 180px;
    top: 62px;
    height: 265px;
}

.container-animForm.log-in .box:after {
    top: 22px;
    left: 192px;
    width: 324px;
    height: 220px;
}

.container-animForm.log-in .container-animForm-form {
    left: 265px;
}

.container-animForm.log-in .container-animForm-form .form-item.sign-up {
    left: 0;
    opacity: 1;
}

.container-animForm.log-in .container-animForm-form .form-item.log-in {
    left: -100%;
    opacity: 0;
}

.container-animForm .active {
    width: 260px;
    height: 140px;
    margin-top: -70px;
}

.container-animForm.active .container-animForm-form {
    left: 30px;
    width: 200px;
    height: 200px;
}

.container-animForm .active .container-animForm-form:before {
    content: "✔";
    position: absolute;
    left: 51px;
    top: 5px;
    color: #5356ad;
    font-size: 130px;
    opacity: 1;
}

.container-animForm.active input,
.container-animForm.active .btn,
.container-animForm.active .info-item {
    display: none;
    opacity: 0;
    padding: 0px;
    margin: 0 auto;
    height: 0;
}

.container-animForm.active .form-item {
    height: 100%;
}

.container-animForm.active .container-animForm-forms .container-animForm-info .info-item {
    height: 0%;
    opacity: 0;
}

.rabbit {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    fill: #fff;
}