<template>
  <div>
    <hero :title="'О компании'"></hero>

    <sectionAbout />
    <sectionCounter/>
    <sectionIntro @show-popup="showPopUp"/>
  </div>
</template>

<script>
import sectionAbout from "../index/about.vue";
import sectionCounter from "../index/counter.vue";
import sectionIntro from "../index/intro.vue";
import hero from "../hero.vue";

export default {
  name: "about",
  components: {
    hero,
    sectionAbout,
    sectionCounter,
    sectionIntro
  },
  mounted: function () {
    new appear({
      elements: function elements() {
        // work with all elements with the class "track"
        return document.getElementsByClassName("ftco-animate");
      },
      appear: function appear(el) {
        el.animate(
          [
            {
              opacity: 0,
              transform: "translate3d(0, 40px, 0)",
            },
            {
              opacity: 1,
              transform: "none",
            },
          ],
          700
        );
        el.style.opacity = 1;
      },
    });
  },
   methods: {
    showPopUp() {
      this.$emit("show-popup");
    },
    ClosePopUp() {
      this.isShowModal = false;
      document.body.classList.remove("modal-open");
    },
  },
};
</script>
<style scoped>
.ftco-counter{
    margin-bottom: 120px;
}

.showModal-enter-active {
  transition: transform 0.2s linear;
}
.showModal-enter /* .fade-leave-active до версии 2.1.8 */ {
  transform: translateY(-100%);
}
.showModal-enter-to {
  transform: translateY(0);
}
</style>
