 * {
     box-sizing: border-box;
 }
 
 html,
 body {
     width: 100%;
     /* height: 100%; */
     background: #3c4452;
     padding: 0;
     margin: 0;
 }
 
 .projects-table {
     margin-top: 25px;
 }
 
 .circle-link {
     padding: 13px 10px;
 }
 
 .table-title {
     width: 100%;
     margin: 0;
 }
 
 .table-title .btn-success {
     margin-top: 10px;
 }
 
 .form-admin {
     min-height: 669px;
 }
 
 .img-elem {
     height: 130px;
     margin-left: 10px;
     display: flex;
     margin-top: 10px;
     margin-right: 10px;
     align-items: center;
 }
 
 .img-elem img {
     margin-right: 20px;
 }
 
 .selected-main-img {
     box-shadow: 0px 1px 15px 11px rgba(88, 173, 89, 1);
     -webkit-box-shadow: 0px 1px 15px 11px rgba(88, 173, 89, 1);
     -moz-box-shadow: 0px 1px 15px 11px rgba(88, 173, 89, 1);
 }
 
 .img-elem .radio {
     padding-left: 100px;
 }
 
 #upload,
 #upload-main,
 #docs-upload {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
     z-index: 100;
     height: 100%;
     border: none;
     background-color: transparent;
 }
 
 .prew-container {
     position: relative;
     margin-top: 50px;
     width: 150px;
     height: 150px;
 }
 
 #docs-upload .dz-details {
     text-align: center;
 }
 
 #docs-upload .prew-container {
     margin: 0;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0);
     transition: background 0.5s ease;
     border-radius: 20px;
 }
 
 .prew-container:hover .overlay {
     display: block;
     background: rgba(0, 0, 0, .3);
 }
 
 .prew-container img {
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     border-radius: 20px;
 }
 
 .title {
     position: absolute;
     width: 500px;
     left: 0;
     top: 120px;
     font-weight: 700;
     font-size: 30px;
     text-align: center;
     text-transform: uppercase;
     color: white;
     z-index: 1;
     transition: top .5s ease;
 }
 
 .prew-container:hover .title {
     top: 90px;
 }
 
 .button {
     position: absolute;
     width: 100%;
     left: 0;
     top: 65px;
     text-align: center;
     opacity: 0;
     transition: opacity .35s ease;
 }
 
 .button a {
     width: 50px;
     height: 50px;
     padding: 25px;
     border-radius: 50px;
     text-align: center;
     color: white;
     border: solid 2px white;
     z-index: 1;
 }
 
 .prew-container:hover .button {
     opacity: 1;
 }
 
 .dropzone .dz-message {
     margin: 0 !important;
 }
 
 .new-login-register {
     display: flex;
     justify-content: center;
 }
 
 .new-login-box {
     margin: 0;
 }
 
 .new-login-register {
     align-items: center;
 }
 
 .manage-u-table tr,
 .manage-u-table th {
     text-align: center;
 }
 
 .summary {
     margin: 1em;
     font-size: 17px;
     /* padding-left: 25px; */
     /* align-items: flex-start; */
     align-self: start;
 }
 
 .grid-view {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 #adminForm .select-row {
     display: flex;
     justify-content: space-between;
 }