<template>
  <section class="ftco-section" id="about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div
            class="about-wrap img w-100"
            style="background-image: url(images/about.jpg)"
          >
            <div class="icon d-flex align-items-center justify-content-center logo" >
              <span ></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 py-5 pl-md-5">
          <div class="row justify-content-center mb-4 pt-md-4">
            <div class="col-md-12 heading-section ftco-animate">
              <span class="subheading">Добро пожаловть</span>
              <h2 class="mb-4">Быстро, Экономно, Надежно</h2>
              <div class="d-flex about">
                <div class="icon"><span class="flaticon-hammer"></span></div>
                <h3>Более 15 лет на рынке строительных услуг</h3>
              </div>
              <p>
                Здравствуйте, меня зовут Алексей Анатольевич Борисов, я являюсь
                основателем и руководителем компании «БЭН» - это уверенно
                развивающаяся компания, предоставляющая более 15 лет
                ремонтно-строительные услуги в Нижнем Тагиле. За это время мы
                завоевали доверие среди наших заказчиков и получили хорошие
                отзывы за проделанную работу от многочисленных клиентов,
                смотрите фото выполненных ремонтов. И мы будем рады видеть Вас в
                числе наших клиентов!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "about",
};
</script>
<style scoped>
.logo span {
         height: 40px;
    width: 40px;
    background-color: white;
}
</style>