<template>
  <section class="ftco-section bg-light ftco-animate">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-10 heading-section text-center ftco-animate">
          <span class="subheading">Блог</span>
          <h2 class="mb-4">Последние посты</h2>
        </div>
      </div>
      <div class="row d-flex">
        <blog-element :post="post" v-for="post in posts" :key="post.id"></blog-element>
      </div>
    </div>
  </section>
</template>
<script>
import blogElement from "../blog/blogElement.vue";
import axios from "axios";

export default {
  name: "blog-update",
  data() {
    return {
      posts: 0,
    };
  },
  created: function () {
    axios
      .get("/blog/")
      .then((response) => (this.posts = response.data));
    console.log(this.posts);
  },
  components: {
    blogElement,
  },
};
</script>