<template>
      <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter">
        <div class="img image-overlay" style="background-image: url(images/about-3.jpg);"></div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 py-5 bg-secondary aside-stretch">
                    <div class="heading-section heading-section-white p-4 pl-md-0 py-md-5 pr-md-5">
                        <span class="subheading">Быстро, экономно, надёжно</span>
                        <h2 class="mb-4">Лучшая строительная компания</h2>
                    
                        <p>У нас вы можете заказать ремонт отдельных помещений, всей квартиры под ключ, либо отдельные виды работ. Такие как ремонт стен, потолка, пола и другие</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center" v-if="numberProjects">
                    <div class="row">
                        <div class="col-md-12 d-flex counter-wrap ">
                            <div class="block-18 bg-primary d-flex align-items-center justify-content-between">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-engineer"></span></div>
                                <div class="text">
                                    <strong class="number" :data-number="numberProjects">{{numberProjects}}</strong>
                                    <span>Выполненных проектов</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex counter-wrap ">
                            <div class="block-18 d-flex align-items-center justify-content-between">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-worker-1"></span></div>
                                <div class="text">
                                    <strong class="number" :data-number="numberProjects">{{numberProjects}}</strong>
                                    <span>Счастливых клиентов</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import axios from "axios"
export default {
    name: "counter",
    data(){
        return{
            numberProjects:0
        }
    },
    mounted: function(){
        axios.get('/projects/').then((response)=>(this.numberProjects = response.data.length))
    }
}
</script>
