
<template>
  <div class="footer">
    <footer class="ftco-footer">
      <div class="container mb-5 pb-4">
        <div class="row">
          <div class="col-lg col-md-6">
            <div class="ftco-footer-widget">
              <h2 class="ftco-heading-2 d-flex align-items-center">О нас</h2>
              <p>
                «БЭН» - это уверенно развивающаяся компания, предоставляющая
                более 15 лет ремонтно-строительные услуги в Нижнем Тагиле.
              </p>
              <ul class="ftco-footer-social list-unstyled mt-4">
                <li>
                  <a href="#"><span class="fa fa-twitter"></span></a>
                </li>
                <li>
                  <a href="#"><span class="fa fa-facebook"></span></a>
                </li>
                <li>
                  <a href="#"><span class="fa fa-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="ftco-footer-widget">
              <h2 class="ftco-heading-2">Карта сайта</h2>
              <div class="d-flex">
                <ul class="list-unstyled mr-md-4">
                  <router-link
                    :to="{ name: 'index' }"
                    custom
                    v-slot="{ href, route, navigate, isActive, isExactActive }"
                  >
                    <li>
                      <a :href="href" @click="navigate"
                        ><span class="fa fa-chevron-right mr-2"></span
                        >Главная</a
                      >
                    </li>
                  </router-link>
                  <router-link
                    :to="{ name: 'portfolio' }"
                    custom
                    v-slot="{ href, route, navigate, isActive, isExactActive }"
                  >
                    <li>
                      <a :href="href" @click="navigate"
                        ><span class="fa fa-chevron-right mr-2"></span
                        >Портфолио</a
                      >
                    </li>
                  </router-link>
                  <router-link
                    :to="{ name: 'blog' }"
                    custom
                    v-slot="{ href, route, navigate, isActive, isExactActive }"
                  >
                    <li>
                      <a :href="href" @click="navigate"
                        ><span class="fa fa-chevron-right mr-2"></span
                        >Блог</a
                      >
                    </li>
                  </router-link> 
                  <router-link
                    :to="{ name: 'about' }"
                    custom
                    v-slot="{ href, route, navigate, isActive, isExactActive }"
                  >
                    <li>
                      <a :href="href" @click="navigate"
                        ><span class="fa fa-chevron-right mr-2"></span
                        >О нас</a
                      >
                    </li>
                  </router-link>
               <router-link
                    :to="{ name: 'contacts' }"
                    custom
                    v-slot="{ href, route, navigate, isActive, isExactActive }"
                  >
                    <li>
                      <a :href="href" @click="navigate"
                        ><span class="fa fa-chevron-right mr-2"></span
                        >Контакты</a
                      >
                    </li>
                  </router-link> 
                  
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg col-md-6">
            <div class="ftco-footer-widget">
              <h2 class="ftco-heading-2">Остались вопросы?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <a href="tel:+2 392 3929 210"
                      ><span class="fa fa-phone mr-3"></span
                      ><span class="text">+2 392 3929 210</span></a
                    >
                  </li>
                  <li>
                    <a href="mailto:vlad:info@yourdomain.com"
                      ><span class="fa fa-paper-plane mr-3"></span
                      ><span class="text">info@yourdomain.com</span></a
                    >
                  </li>
                  <li>
                    <a @click="showPopUp" class="link"
                      ><span class="fa fa-chevron-right mr-2"></span>Оставить
                      заявку</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-primary"></div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "Footer",
  methods: {
    showPopUp() {
      this.$emit("show-popup");
    },
  },
};
</script>

<style scoped>
.link {
  cursor: pointer;
}
</style>