<template>
  <section
    class="hero-wrap js-fullheight"
    style="background-image: url('images/bg_1.jpg')"
    data-stellar-background-ratio="0.5"
  >
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row no-gutters slider-text js-fullheight align-items-center"
        data-scrollax-parent="true"
      >
        <div class="col-lg-6 ftco-animate">
          <div class="mt-5">
            <h1 class="mb-4">Мы строим, <br />вы живете</h1>
            
            <p>
              
              <a
                @click="showPopUp"
                class="btn btn-primary"
                
                >Оставить заявку</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "hero",
  data(){
    return{
      a:1
    }
  },
   methods: {
    showPopUp() {
      this.$emit("show-popup");
    },
  },
};

</script>