<template>
  <div>
    <hero @show-popup="showPopUp" />
    <quanities />
    <about />
    <intro @show-popup="showPopUp" />
    <counter />
    <Projects />
    <blog-update />

    <transition name="showModal">
      <pop-up v-show="isShowModal" @close-popup="ClosePopUp" />
    </transition>
  </div>
</template>

<script>
import hero from "./hero.vue";
import quanities from "./quanities.vue";
import about from "./about.vue";
import intro from "./intro.vue";
import offer from "./offer.vue";
import counter from "./counter.vue";
import Projects from "./projects.vue";
import blogUpdate from "./blogUpdate.vue";
import popUp from "./popUp.vue";

export default {
  name: "index",
  data() {
    return {
      active: true,
      isShowModal: false,
    };
  },
  components: {
    hero,
    quanities,
    about,
    intro,
    offer,
    counter,
    Projects,
    blogUpdate,
    popUp,
  },
  methods: {
    showPopUp() {
      this.isShowModal = true;
      document.body.classList.add("modal-open");
    },
    ClosePopUp() {
      this.isShowModal = false;
      document.body.classList.remove("modal-open");
    },
  },
  mounted: function () {
    new appear({
      elements: function elements() {
        // work with all elements with the class "track"
        return document.getElementsByClassName("ftco-animate");
      },
      appear: function appear(el) {
        el.animate(
          [
            {
              opacity: 0,
              transform: "translate3d(0, 40px, 0)",
            },
            {
              opacity: 1,
              transform: "none",
            },
          ],
          700
        );
        el.style.opacity = 1;
      },
    });
  },
};
</script>
<style scoped>

.showModal-enter-active {
  transition: transform 0.2s linear;
}
.showModal-enter /* .fade-leave-active до версии 2.1.8 */ {
  transform: translateY(-100%);
}
.showModal-enter-to {
  transform: translateY(0);
}
</style>