<template>
     <section class="ftco-intro">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="img" style="background-image: url(images/bg_2.jpg);">
                        <div class="overlay"></div>
                        <h2>Заинтересовались?</h2>
                        <p>Оставьте свои контактные данные и мы свяжемся с вами</p>
                        <p class="mb-0"><a @click="showPopUp" class="btn btn-primary px-4 py-3">Оставить заявку</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    name:"intro",
     methods: {
    showPopUp() {
      this.$emit("show-popup");
    },
  },
}
</script>
<style scoped>
.ftco-intro{
      margin-bottom: 120px;
}
</style>