<template>
  <div
    @click.self="closePopUp"
    class="modal fade showModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close d-flex align-items-center justify-content-center"
            @click="closePopUp"
          >
            <span aria-hidden="true" class="fa fa-close"></span>
          </button>
        </div>
        <div class="modal-body p-4 p-md-5">
          <form action="#" class="appointment-form">
            <h3>Оставить заявку</h3>
            <div class="">
              <div class="form-group">
                <input
                  v-model="first_name"
                  type="text"
                  class="form-control"
                  placeholder="Имя"
                />
              </div>
              <div class="form-group">
                <input v-model="second_name" type="text" class="form-control" placeholder="Фамилия" />
              </div>
              <div class="form-group">
                <input
                v-model="phone"
                  type="text"
                  class="form-control"
                  placeholder="Номер телефона"
                />
              </div>
            </div>

            <div class="">
              <div class="form-group">
                <textarea
                v-model="message"
                  name=""
                  id=""
                  cols="30"
                  rows="4"
                  class="form-control"
                  placeholder="Сообщение"
                ></textarea>
              </div>
              <div class="form-group">
                <input
                  @click="sendForm"
                  type="submit"
                  value="Оставить заявку"
                  class="btn btn-primary py-3 px-4"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "pop-up",
  data() {
    return {
      first_name: "",
      second_name: "",
      message: "",
      phone: "",
    };
  },
  methods: {
    closePopUp() {
      this.$emit("close-popup");
    },
    sendForm() {
      axios({
        method: 'post',
        url:'/calls/add',
         headers: { "Content-type": "application/json; charset=UTF-8"},
        data:{
          first_name: this.first_name,
          second_name: this.second_name,
          message: this.message,
          phone: this.phone,
        }
      })
       this.closePopUp( )
    },
  },
};
</script>
