<template>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section " >
          <span class="subheading">Наши работы</span>
          <h2 class="mb-4">Последние проекты</h2>
        </div>
      </div>
      <div class="row">
        <project-element
          :dataElem="project"
          v-for="project in projects"
          :key="project.id"
        />
      </div>
    </div>
  </section>
</template>

<script>
import projectElement from "../projects/projectElement.vue";
import axios from "axios";

export default {
  name: "projects",
  data() {
    return {
      projects: 0,
    };
  },
  components: {
    projectElement,
  },
  created: function () {
    axios.get("/projects/latestprojects/").then((response) => (this.projects = response.data));
    //   console.log(
  },
  mounted: function () {
 
  },
};
</script>