<template>
  <div class="col-md-4">
    <div class="project">
      <a
        href="#"
        class="img image-popup d-flex align-items-center"
        :style="getMainImg"
        ><div
          class="icon d-flex align-items-center justify-content-center mb-5"
        >
          <span class="fa fa-plus"></span></div
      ></a>
      <div class="text">
        <span class="subheading"> {{ dataElem.client }}</span>
        <h3>{{ dataElem.name }}</h3>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "project-element",

  props: {
    dataElem: Object,
  },
  computed: {
    getMainImg: function () {
      if (this.dataElem.imgs.length !=0) {
        for (let i = 0; i < this.dataElem.imgs.length; i++) {
          const img = this.dataElem.imgs[i];
          if (img.path.indexOf("main") != -1) {
            return "background-image: url("+img.path+");";
          }
        }
      }else{
        return "background-image: url(projectsImg/project-1.jpg);"
      }
    },
  },
};
</script>
<style scoped>

</style>