<template>
  <section class="ftco-section ftco-no-pt ftco-no-pb ftco-services-2">
    <div class="container">
      <div class="row no-gutters d-flex">
        <div
          class="col-lg-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated"
        >
          <div class="media block-6 services d-flex">
            <div class="icon justify-content-center align-items-center d-flex">
              <span class="flaticon-engineer-1"></span>
            </div>
            <div class="media-body pl-4">
              <h3 class="heading mb-3">Качество ремонтных работ</h3>
              
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated"
        >
          <div class="media block-6 services services-2 d-flex">
            <div class="icon justify-content-center align-items-center d-flex">
              <span class="flaticon-worker-1"></span>
            </div>
            <div class="media-body pl-4">
              <h3 class="heading mb-3">Профессиональная ответственность</h3>
             
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated"
        >
          <div class="media block-6 services d-flex">
            <div class="icon justify-content-center align-items-center d-flex">
              <span class="flaticon-engineer"></span>
            </div>
            <div class="media-body pl-4">
              <h3 class="heading mb-3">Клиенты - наше все</h3>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "quanities",
  data() {
    return {
      a: 1,
    };
  },
};
</script>