<template>
  <div class="col-lg-4">
    <div class="blog-entry">
      <a @click="route()" class="block-20 cursor" :style="style"> </a>
      <div class="text d-block">
        <div class="meta">
          <p>
            <a @click="route()"
              ><span class="fa fa-calendar mr-2"></span>{{ date }}
            </a>
          </p>
        </div>
        <h3 class="heading cursor">
          <a @click="route()">{{ post.name }}</a>
        </h3>
        <p>
          <a @click="route()" class="btn btn-secondary py-2 px-3">подробнее</a>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "blog-element",
  props: {
    post: Object,
  },
  computed: {
    date: function () {
      let arDate = this.post.TIMESTEMP.split(" ")[0].split("-");
      return arDate[2] + "-" + arDate[1] + "-" + arDate[0];
    },
    style: function () {
      if (this.post.preview_img) {
        return "background-image: url('" + this.post.preview_img + "')";
      } else {
        return "background-image: url('/images/image_1.jpg')";
      }
    },
  },
  methods: {
    route() {
      this.$router.push({ name: "singlePost", params: { id: this.post.id } });
    },
  },
};
</script>
<style scoped>
.cursor{
  cursor: pointer;
}
</style>