<template>
<div>
    <hero :img="'/images/image_6.jpg'" :title="'Блог'"></hero>
    <postsList></postsList>
</div>
</template>
<script>
import hero from "../hero.vue"
import postsList from "./postsList.vue"
import axios from "axios"

export default {
    name: "blog",
    data(){
        return{
            posts:[]
        }
    },
    components:{
        hero,
        postsList
    },
   
}
</script>
