<template>
<div class="ftco-section bg-light" v-if="posts">
    <div class="container">
        <div class="row d-flex">
            <blog-element v-for="(post, postIndex) in pageOfItems" :key="postIndex" :post="post"></blog-element>

        </div>
        <div class="block-27">
            <jw-pagination
            :items="posts"
            @changePage="onChangePage"
            :disableDefaultStyles="true"
            :labels="customLabels"
            :pageSize="9"
            />
        </div>
    </div>
</div>


</template>
<script>
import axios from "axios";
import blogElement from "./blogElement.vue";
import JwPagination from "jw-vue-pagination";

const customLabels = {
  previous: "<",
  next: ">",
};

export default {
  name: "documentsList",
  data() {
    return {
      posts: [],
      customLabels,
      pageOfItems: [],
    };
  },
  components: { blogElement, JwPagination },
  mounted: function () {
    axios.get("/blog/").then((response) => (this.posts = response.data));
  },
  methods: {
    onChangePage(pageOfItems) {
      // update page of items
      this.pageOfItems = pageOfItems;
    },
  },
};
</script>
