<template>
  <div>
    <hero :project="post"></hero>
    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 fadeInUp ftco-animated" v-html="post.text"></div>
          <sidebar :otherProjects="postsExcludeThis" :arDocuments="post.docs"></sidebar>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import hero from "../hero.vue";
import axios from "axios";
import sidebar from "./sidebar.vue";

export default {
  name: "single-post",
  data() {
    return {
      post: {},
      otherPosts: [],
    };
  },
  components: {
    hero,
    sidebar,
  },
  props: {
    id: String,
  },
  mounted: function () {
    axios
      .get("/blog/findbyid?id=" + this.id)
      .then((response) => (this.post = response.data));

    axios
      .get("/blog/latestposts?len=3")
      .then((response) => (this.otherPosts = response.data));
  },
  computed: {
    postsExcludeThis: function () {
      let post = this.post;
      let PostsExcludeThis = [];
      for (let i = 0; i < this.otherPosts.length; i++) {
        const element = this.otherPosts[i];
        if (element.id != post.id) {
          PostsExcludeThis.push(element);
        }
      }
      return PostsExcludeThis;
    },
  },
};
</script>
