<template>
  <div @click="downloadFile" id="card-wrapper">
    <div id="card-front" class="card">
      <i class="fa fa-download"> </i>
    </div>
    <div id="card-back" class="card">
      <div class="details">
        <h3>{{ document.name }}</h3>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "docElement",
  props: {
    document: Object,
  },
  methods: {
    downloadFile() {
      const form = new FormData();
      form.append("filename", this.document.name + "." + this.document.ext);

      let name = this.document.name + "." + this.document.ext;
      axios({
        method: "get",
        url: "/docs/" + name,
        params: {
          filename: this.document.name + "." + this.document.ext,
        },
        responseType: "blob",
        // headers: {
        //   "Content-type": "application/x-www-form-urlencoded",
        // },
      }).then(function (response) {
        let link = document.createElement("a");
        link.download = name;
        link.href = URL.createObjectURL(response.data);
        link.click();
        URL.revokeObjectURL(link.href);
      });
    },
  },
};
</script>

<style scoped>
#card-wrapper {
  transform: translate(0);
  width: 245px;
  height: 300px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: 0.6s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
}

#card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  background-color: #fc5e28;
  color: black;
  transform: rotateY(180deg);

  z-index: 2;
}

#card-back {
  z-index: 1;
}

#cube {
  position: absolute;
  left: 50%;
  top: 50%;
}

.face {
  transform-origin: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
}

.cube-top {
  background: #cbefe8;
  transform: rotate(210deg) skew(-30deg) scaleY(0.864);
}

.cube-left {
  background: #52aca2;
  transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
}

.cube-right {
  background: #8bd7d3;
  transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
}

#card-wrapper:hover #card-back {
  transform: rotateY(180deg);
}

#card-wrapper:hover #card-front {
  transform: rotateY(0deg);
  z-index: 3;
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  transform: translate(-50%, -50%);
}

.details h3 {
  font-family: "Cabin", sans-serif;
  color: black;
  font-size: 14pt;
  letter-spacing: 0.3rem;
  text-align: center;
}

.details p {
  font-family: "Cabin", sans-serif;
  color: black;
  font-size: 8pt;
  letter-spacing: 0.3rem;
  text-align: center;
}

.details span {
  position: relative;
  top: 70px;
  font-family: "Cabin", sans-serif;
  color: black;
  font-size: 8pt;
  letter-spacing: 0.3rem;
  text-align: center;
}
</style>