<template>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">нормативные акты</span>
          <h2 class="mb-4">Список документов</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" v-for="document in pageOfItems" :key="document.id">
          <docElement :document="document"></docElement>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <jw-pagination
              :items="documents"
              @changePage="onChangePage"
              :disableDefaultStyles="true"
              :labels="customLabels"
              :pageSize="9"
            />

          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
import docElement from "./docElement.vue";
import JwPagination from "jw-vue-pagination";

const customLabels = {
  previous: "<",
  next: ">",
};

export default {
  name: "documentsList",
  data(){
      return {
          documents: [],
          customLabels,
          pageOfItems: [],
      }
  },
  components: { docElement,JwPagination },
  mounted: function(){
      axios.get('/document/').then((response) => (this.documents = response.data))
  },
  methods: {
    onChangePage(pageOfItems) {
      // update page of items
      this.pageOfItems = pageOfItems;
    },
  },
};
</script>
