<template>
<div>
    <hero :title="'Документы'" :img="'/images/services-3.jpg'"></hero>
    <documents-list></documents-list>
</div>
</template>
<script>
import hero from '../hero.vue'
import documentsList from './documentsList.vue'

export default {
   name:'documents',
   components:{
       hero,
       documentsList
   },
   mounted: function () {
    new appear({
      elements: function elements() {
        // work with all elements with the class "track"
        return document.getElementsByClassName("ftco-animate");
      },
      appear: function appear(el) {
        el.animate(
          [
            {
              opacity: 0,
              transform: "translate3d(0, 40px, 0)",
            },
            {
              opacity: 1,
              transform: "none",
            },
          ],
          700
        );
        el.style.opacity = 1;
      },
    });
  },
}
</script>
