<template>
  <div>
    <Nav @show-popup="showPopUp" />
    <router-view :key="$route.fullPath" @show-popup="showPopUp"></router-view>
    
    <Footer @show-popup="showPopUp"/>
    
    <transition name="showModal">
      
      <pop-up v-show="isShowModal" @close-popup="ClosePopUp" />
    </transition>
  </div>
</template>

<script>

import Nav from "../VueComponents/nav.vue";
import Footer from "../VueComponents/index/footer.vue";
import index from "../VueComponents/index/index.vue";
import popUp from '../VueComponents/index/popUp.vue';


export default {
  name: "app",
  data() {
    return {
      active: true,
      isShowModal: false,
    };
  },
  components: {
    Nav,
    // index,
    Footer,
    popUp
    
  },
  methods: {
    showPopUp() {
      this.isShowModal = true;
      document.body.classList.add("modal-open");

   
    },
    ClosePopUp() {
      this.isShowModal = false;
      document.body.classList.remove("modal-open");

    },

  },
 
 
};
   
</script>
<style scoped>

.showModal-enter-active {
  transition: transform 0.2s linear;
}
.showModal-enter /* .fade-leave-active до версии 2.1.8 */ {
  transform: translateY(-100%);
}
.showModal-enter-to {
  transform: translateY(0);
}
</style>